<div>My Portfolio</div>
<mat-spinner diameter="50" *ngIf="isLoading && myPortfolios.length != 0"></mat-spinner>
<div *ngIf="myPortfolios.length != 0">
    <div *ngFor="let portfolio of myPortfolios | keyvalue">
        <!-- <div class="card">
            <div (click)="Click()">{{portfolio.value.ticker}}</div>
            <div>{{portfolio.value.quantity}}</div>
            <div>{{portfolio.value.totalCost}}</div>
            <button class="btn btn-primary" (click)="openBuyModal();">Buy</button>
        </div> -->
        <div *ngIf="currentPriceOfStocks.length != 0">
            <app-myportfolio [portfolio]="portfolio" [currentPriceOfStocks]="currentPriceOfStocks"></app-myportfolio>
        <br><br>
        </div>
        
    </div>
</div>
<div *ngIf="myPortfolios.length == 0">You have no stocks</div>