.watchlist-card{
    /* width: 80%; */
    cursor: pointer;
    margin-bottom: 20px;
}

.cross-button{
    padding-right: 10px; 
    width: fit-content;
}

.columnleft{
    width: 50%;
    float: left;
    text-align: left;
}

.columnright{
    width: 50%;
    float: left;
    text-align: right;
}

.row1{
    font-weight: 500;
    font-size: x-large;
    padding-bottom: 5px;
}

.row2{
    display: flex;
    float: right;
}

.showgreen{
    color: green;
}

.showred{
    color: red;
}