/* You can add global styles to this file, and also import other style files */

@import '@fortawesome/fontawesome-free/css/all.min.css';

html, body { height: 100%;
  /* overflow-x: hidden; */
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


button:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

.our-content{
    min-height: calc(100vh - 56px);
    /* min-height: 92.5vh; */
    overflow: hidden;
    display: block;
    position: relative;
    /* padding-bottom: 3rem; */
    /* width: 100vw; */
    width: 100%;
}

.loader{
  width: 100vw;
  margin: auto;
  margin-top: 80px;

}